@media only screen and (max-width: 500px) {

    .woocommerce div.product form.cart .button {

    width: 100%!important;
}

	.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%!important;
    cursor: pointer;
    padding: 1.918em 8em!important;


}


}


.tabs-content {
    transition: all 0.5s ease;
    border: none!important;
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th {
    background: rgba(0,0,0,0.0)!important;
}

.woocommerce table.shop_attributes td  {
    font-size: 13px!important;
}

.woocommerce table.shop_attributes td p {
    margin: 0;
    padding: 0px 0;
}

.woocommerce table.shop_attributes tbody th, tbody td {
    padding: 10px 25px 10px 0px !important;
}

.woocommerce table.shop_attributes td {
    font-style: normal!important;
}

table.shop_attributes th {

	text-align: left!important;

}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    border-bottom: none!important;
    padding-bottom: 30px;
}

div.summary ul li a {

	font-size: 13px!important;
	font-weight: bold;
}

.reset_variations {
display: none !important;
}



form.variations_form.cart {

width: 50%;

}

tbody tr:nth-child(even) {
background-color: #fff;

}

li.product {

	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.button {

background-color: rgba(255, 255, 255, 0)!important;
border: 1px solid rgba(0, 0, 0, 0.2)!important;
color: #444!important;

}

.button:hover {

background-color: rgba(255, 255, 255, 0)!important;
border: 1px solid rgba(0, 0, 0, 0.4)!important;
color: #333!important;

}

ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    padding-bottom: 10px;
}



ul.lang-switcher.menu.show-for-medium.float-right {

padding-top: 1px!important;

}

h1.page-title {

	text-align: center!important;

}

h2.woocommerce-loop-product__title {

	font-size: 1.0em;
	margin-top: 30px;
	text-align: center!important;
}

.woocommerce nav.woocommerce-pagination {
    margin-bottom: 40px;
}

.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus {
    background: rgba(0, 0, 0, 0.1)!important;
    color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce nav.woocommerce-pagination ul li a {
	background: #fff;
    color: rgba(0, 0, 0, 0.6)!important;

}

.woocommerce nav.woocommerce-pagination ul {
	background: #fff;
	border-right: 0px solid rgba(0, 0, 0, 0.1)!important;
    border-left: 1px solid rgba(0, 0, 0, 0.1)!important;

}



.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 80%;
    line-height: 1;
    cursor: pointer;
    padding: .918em 4em!important;
    font-weight: normal;
    border-radius: 1px;
    left: auto;
    background-color: rgba(255, 255, 255, 0)!important;
    border: 1px solid rgba(0, 0, 0, 0.2)!important;
    color: #444!important;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    font-size: 80%;
    line-height: 1;
    cursor: pointer;
    padding: .918em 4em!important;
    font-weight: normal;
    border-radius: 1px;
    left: auto;
    background-color: rgba(255, 255, 255, 0)!important;
    border: 1px solid rgba(0, 0, 0, 0.4)!important;
    color: #333!important;
}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}

.woocommerce div.product .product_title {
	padding-top: 35px;
    padding-bottom: 40px;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.cart_totals h2 {
	margin-top: 25px;
	font-size: 1rem;

}

.woocommerce-message {
    border-top-color: rgba(0, 0, 0, 0.1)!important;
}

table {
	padding: 1px!important;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {

    font-size: 1em;

}


small.includes_tax span {

	font-size: 12px;

}

.woocommerce ul.products li.product .price  {

	text-align: center!important;

}

ol.flex-control-thumbs {

	margin-top: 40px!important;
}

ol.flex-control-thumbs li {

	padding: 1px!important;
	float: left!important;
}

.woocommerce-message::before {

    color: rgba(0, 0, 0, 0.7);
}

.entry-summary h2 {

	display: none!important;

}

.woocommerce-info {
    border-top-color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {

	    border-top: 3px solid rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-info::before {
    color: rgba(0, 0, 0, 0.7)!important;

}

/* tabs */

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border:none!important;
}

.tabs {
	border: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {

	display: none!important;
}

li.description_tab {

	display: none!important;
}

.woocommerce div.product .woocommerce-tabs h2 {
	font-weight: bold!important;
	font-size: 16px!important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom:20px;
}

.woocommerce div.product form.cart .variations td.label {
    padding-right: 0em;
    display: none!important;
}

table.variations tbody th, tbody td {
    padding: 10px 25px 10px 0px !important;

}

.tabs-title > a {
text-transform: uppercase!important;
	font-size: 10px!important;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #fff!important;
		border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	border-top: 0px solid rgba(0, 0, 0, 0.1);
}

.tabs {

}

.is-accordion-submenu-parent > a::after {
	display: none!important;

}

.menu.uitklap {

	margin-left: 0rem!important;

}

.woocommerce table.shop_attributes tbody th, tbody td {
    padding: 15px 25px 15px 0px !important;
}

section.entry-content ul {
	font-size: 14px!important;
	line-height: 25px;
}


/* Header */

img.site-logo {
    padding: 15px 0 0 0!important;
}

/* Slider */

.owl-carousel-img {
    width: 100vw!important;

    /* Background img */
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center !important;
}

/* Medium and up */
@media screen and (min-width: 40em) {

  .owl-carousel-img {
    height: 100vh!important; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100)!important;
    margin-top: -95px;

    }

    img.site-logo {
        padding: 0px 0 0px 0!important;
    }

}

/* Large and up */
@media screen and (min-width: 64em) {

  .owl-carousel-img {
    height: 100vh!important; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100)!important;
      margin-top: -95px;
    }

    img.site-logo {
        padding: 6px 0 0px 0!important;
    }

}

/* XLarge and up */
/* @media screen and (min-width: 1200px) {

  .owl-carousel-img {
    width: 100vw!important;
    height: 100vh!important;
  }
    } */



}

.top-bar {
    padding: 0 1rem 0 1rem!important;
}


/* Img Content Block */

.marketing-site-content-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marketing-site-content-section .marketing-site-content-section-img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.marketing-site-content-section .marketing-site-content-section-img img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 0px;
  }
}

.full-width {
  padding-bottom: 0px!important;
  background-color: inherit!important;
}

.full-width h1, .h1 {
    padding: 0 0 0 0px!important;
}

.marketing-site-content-section-block-subheader {
  padding: 0 0 0 25px!important;
}

/* 1.1 */

/* Post footer */

.post-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 12px;
}

/* .post-footer {
  width: 100%;
  text-align: center;
  margin: 2px auto;
  line-height: 1.4;
  padding-left: 0;
} */

.post-footer {
  padding: 0 24px 0 24px;
}

.post-footer-menu {
  /* padding: 0 0 0 6px; */
}

.post-footer-credits a {
  font-size: 12px;
  text-transform: uppercase;
}

.post-footer-copyright {
  /* padding: 0 12px 0 20px; */
}

.post-footer-menu ul li {
  font-size: 12px;
  text-transform: uppercase;
  /* padding: 1px 0 0 0; */
}

#menu-footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.copyright li {
  display: inline;
  text-align: center;
}

#menu-footer-menu {
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px!important;
}

#menu-footer-menu li.current-menu-item {
  background-color: #fff;
}

.follow-container {
  background-color: #f1f1f1;
  padding: 18px 0 18px 0;
}

.follow-container h4 {
  margin-bottom: 0px;
}

.marketing-site-content-section {
  margin-bottom: 95px;
}

.marketing-site-content-section-block-subheader {
    padding: 0 50px 0 50px !important;
}

.full-width {
    background-color: #f1f1f1;
    border-top: 0px solid rgba(10, 10, 10, 0.05)!important;
    border-bottom: 0px solid rgba(10, 10, 10, 0.05)!important;
    padding-bottom: 30px;
    margin: 0 0 0 0;
}

.home-about {
  padding: 10px 0 0 0!important;
}

/*
 * Lookbook
 */

ul.lookbook-masonry {
  list-style: none;
  margin-left: 0;
}

.lookbook-masonry {
  -moz-column-count:2;
  -moz-column-gap: 3%;
  -moz-column-width: 50%;
  -webkit-column-count:2;
  -webkit-column-gap: 3%;
  -webkit-column-width: 50%;
  column-count: 2;
  column-gap: 3%;
  column-width: 50%;
}

.lookbook-masonry img {
  /* opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; */
}

.lookbook-masonry img:hover {
  /* opacity: 0.25; */
}

.lookbook-masonry li {
   margin-bottom: 7%;
}

/* Medium and up */
@media screen and (min-width: 40em) {

.lookbook-masonry {
  -moz-column-count:2;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count:3;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 2;
  column-gap: 3%;
  column-width: 30%;
}

.lookbook-masonry li {
   margin-bottom: 10%;
}

}

#preheader i.fa.fa-facebook-square, #preheader i.fa.fa-instagram, #preheader i.fa.fa-pinterest-square {
    font-size: 14px!important;
}

li.overlay-image-container:nth-child(odd) {
width: 75%;
}

/* img.site-logo {
    padding: 0px 0 15px 0 !important;
}

.top_nav_large {
  margin-top: 20px;
} */


/********* Simple or original overlay *******/

/* Main container */
.overlay-image-container {
 position: relative;
 width: 100%;
}

/* Original image */
.overlay-image-container .overlay-image {
 display: block;
 width: 100%;
 height: auto;
 border-radius: 2px;
}

/* Original image */
.overlay-image-container:hover {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.05);
}

.caption-bg {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.caption-bg:hover .caption-text {
  opacity: 1;
}

/* Original text overlay */
.overlay-image-container .caption-text {
 font-size: 14px;
 text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
 text-align: center;
 opacity: 0;
 transition: opacity .15s ease-in-out;
 -moz-transition: opacity .15s ease-in-out;
 -webkit-transition: opacity .15s ease-in-out;
 /* background-color: rgba(255,255,255,1); */
 margin: 0;
}

/* Original text overlay */
.overlay-image-container:hover .caption-text {
  opacity: 1;
}

.overlay-image-container:hover img {
opacity: 0.35;
transition: opacity .15s ease-in-out;
-moz-transition: opacity .15s ease-in-out;
-webkit-transition: opacity .15s ease-in-out;
}

p.price.caption-text {
  margin-top: 4px;
  text-transform: uppercase;
  font-size: 12px;
}




.test-test {
  margin-top: 12px!important;
}

.test-test hr {
  margin: 1rem auto!important;
}

.header.sticky .site-logo {
  padding-bottom: 12px!important;
}

.is-stuck .site-logo {
  max-width: 175px!important;
  margin-top: 0px!important;
}

.is-stuck ul.menu {
  padding-top: 10px!important;
}

.is-stuck hr {
    margin: 1.65rem auto!important;
}

.is-anchored .site-logo {
    padding-bottom: 12px!important;
}

.top-bar {
  padding: 0rem 0rem 0rem 0rem!important;
}
