/******************************************************************
 Theme Name:   Atelier Judith van den Berg
 Theme URI:    http://atelierjudithvandenberg.com/
 Description:  Frameworque Child Theme
 Author:       Jordi Radstake
 Author URI:   http://jordiradstake.nl
 Template:     frameworque
 Version:      1.1
 Text Domain:  frameworque-child
******************************************************************/


.reset_variations {
display: none !important;
}



form.variations_form.cart {

width: 50%;

}

tbody tr:nth-child(even) {
background-color: #fff;

}

li.product {

	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.button {

background-color: rgba(0, 0, 0, 0.7);
border: 1px solid rgba(0, 0, 0, 0.0);

}

ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    padding-bottom: 10px;
}



ul.lang-switcher.menu.show-for-medium.float-right {

padding-top: 1px!important;

}

h1.page-title {

	text-align: center!important;

}

h2.woocommerce-loop-product__title {

	font-size: 1.0em;
	margin-top: 30px;
	text-align: center!important;
}

.woocommerce nav.woocommerce-pagination {
    margin-bottom: 40px;
}

.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus {
    background: rgba(0, 0, 0, 0.1)!important;
    color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce nav.woocommerce-pagination ul li a {
	background: #fff;
    color: rgba(0, 0, 0, 0.6)!important;

}

.woocommerce nav.woocommerce-pagination ul {
	background: #fff;
	border-right: 0px solid rgba(0, 0, 0, 0.1)!important;
    border-left: 1px solid rgba(0, 0, 0, 0.1)!important;

}



.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 80%;
    line-height: 1;
    cursor: pointer;
    padding: .918em 4em!important;
    font-weight: 700;
    border-radius: 13px;
    left: auto;
    color: #ccc!important;
    background-color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}

.woocommerce div.product .product_title {
	padding-top: 35px;
    padding-bottom: 40px;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.cart_totals h2 {
	margin-top: 25px;
	font-size: 1rem;

}

.woocommerce-message {
    border-top-color: rgba(0, 0, 0, 0.1)!important;
}

table {
	padding: 1px!important;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {

    font-size: 1em;

}


small.includes_tax span {

	font-size: 12px;

}

.woocommerce ul.products li.product .price  {

	text-align: center!important;

}

ol.flex-control-thumbs {

	margin-top: 40px!important;
}

ol.flex-control-thumbs li {

	padding: 1px!important;
	float: left!important;
}

.woocommerce-message::before {

    color: rgba(0, 0, 0, 0.7);
}

.entry-summary h2 {

	display: none!important;

}

.woocommerce-info {
    border-top-color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {

	    border-top: 3px solid rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-info::before {
    color: rgba(0, 0, 0, 0.7)!important;

}

/* tabs */

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border:none!important;
}

.tabs {
	border: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {

	display: none!important;
}

li.description_tab {

	display: none!important;
}

.woocommerce div.product .woocommerce-tabs h2 {
	font-weight: bold!important;
	font-size: 16px!important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom:20px;
}

// WP editor CSS

@media only screen and (max-width: 500px) {

    .woocommerce div.product form.cart .button {

    width: 100%!important;
}

	.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%!important;
    cursor: pointer;
    padding: 1.918em 8em!important;


}


}


.tabs-content {
    transition: all 0.5s ease;
    border: none!important;
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th {
    background: rgba(0,0,0,0.0)!important;
}

.woocommerce table.shop_attributes td  {
    font-size: 13px!important;
}

.woocommerce table.shop_attributes td p {
    margin: 0;
    padding: 0px 0;
}

.woocommerce table.shop_attributes tbody th, tbody td {
    padding: 10px 25px 10px 0px !important;
}

.woocommerce table.shop_attributes td {
    font-style: normal!important;
}

table.shop_attributes th {

	text-align: left!important;

}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    border-bottom: none!important;
    padding-bottom: 30px;
}

div.summary ul li a {

	font-size: 13px!important;
	font-weight: bold;
}

.reset_variations {
display: none !important;
}



form.variations_form.cart {

width: 50%;

}

tbody tr:nth-child(even) {
background-color: #fff;

}

li.product {

	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.button {

background-color: rgba(0, 0, 0, 0.7);
border: 1px solid rgba(0, 0, 0, 0.0);

}

ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    padding-bottom: 10px;
}



ul.lang-switcher.menu.show-for-medium.float-right {

padding-top: 1px!important;

}

h1.page-title {

	text-align: center!important;

}

h2.woocommerce-loop-product__title {

	font-size: 1.0em;
	margin-top: 30px;
	text-align: center!important;
}

.woocommerce nav.woocommerce-pagination {
    margin-bottom: 40px;
}

.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus {
    background: rgba(0, 0, 0, 0.1)!important;
    color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce nav.woocommerce-pagination ul li a {
	background: #fff;
    color: rgba(0, 0, 0, 0.6)!important;

}

.woocommerce nav.woocommerce-pagination ul {
	background: #fff;
	border-right: 0px solid rgba(0, 0, 0, 0.1)!important;
    border-left: 1px solid rgba(0, 0, 0, 0.1)!important;

}



.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 80%;
    line-height: 1;
    cursor: pointer;
    padding: .918em 4em!important;
    font-weight: 700;
    border-radius: 1px;
    left: auto;
    color: #ccc!important;
    background-color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce div.product form.cart {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}

.woocommerce div.product .product_title {
	padding-top: 35px;
    padding-bottom: 40px;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.cart_totals h2 {
	margin-top: 25px;
	font-size: 1rem;

}

.woocommerce-message {
    border-top-color: rgba(0, 0, 0, 0.1)!important;
}

table {
	padding: 1px!important;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {

    font-size: 1em;

}


small.includes_tax span {

	font-size: 12px;

}

.woocommerce ul.products li.product .price  {

	text-align: center!important;

}

ol.flex-control-thumbs {

	margin-top: 40px!important;
}

ol.flex-control-thumbs li {

	padding: 1px!important;
	float: left!important;
}

.woocommerce-message::before {

    color: rgba(0, 0, 0, 0.7);
}

.entry-summary h2 {

	display: none!important;

}

.woocommerce-info {
    border-top-color: rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {

	    border-top: 3px solid rgba(0, 0, 0, 0.7)!important;
}

.woocommerce-info::before {
    color: rgba(0, 0, 0, 0.7)!important;

}

/* tabs */

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border:none!important;
}

.tabs {
	border: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: none!important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {

	display: none!important;
}

li.description_tab {

	display: none!important;
}

.woocommerce div.product .woocommerce-tabs h2 {
	font-weight: bold!important;
	font-size: 16px!important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom:20px;
}

.woocommerce div.product form.cart .variations td.label {
    padding-right: 0em;
    display: none!important;
}

table.variations tbody th, tbody td {
    padding: 10px 25px 10px 0px !important;

}

.tabs-title > a {
text-transform: uppercase!important;
	font-size: 10px!important;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #fff!important;
		border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	border-top: 0px solid rgba(0, 0, 0, 0.1);
}

.tabs {

}

.is-accordion-submenu-parent > a::after {
	display: none!important;

}

.menu.uitklap {

	margin-left: 0rem!important;

}



.woocommerce table.shop_attributes tbody th, tbody td {
    padding: 15px 25px 15px 0px !important;
}

section.entry-content ul {
	font-size: 14px!important;
	line-height: 25px;
}
